NET "CLK_1K"	LOC = "B8";

# test
NET "MIN<0>"	LOC = "B18";
NET "MIN<1>"	LOC = "D18";
NET "MIN<2>" 	LOC = "E18";
NET "MIN<3>"	LOC = "H13";


# Anode's
NET "AN<0>"		LOC = "F17";
NET "AN<1>"		LOC = "H17";
NET "AN<2>"		LOC = "C18";
NET "AN<3>"		LOC = "F15";

# Kathodes from a to g
NET "SEG<6>"		LOC = "L18";
NET "SEG<5>"		LOC = "F18";
NET "SEG<4>"		LOC = "D17";
NET "SEG<3>"		LOC = "D16";
NET "SEG<2>"		LOC = "G14";
NET "SEG<1>"		LOC = "J17";
NET "SEG<0>"		LOC = "H14";

# Dot
NET "seg<7>"		LOC = "C17";