# test med tenth sec
NET "BCD<0>" 		LOC = "B18";
NET "BCD<1>"		LOC = "D18";
NET "BCD<2>"		LOC = "E18";
NET "BCD<3>"		LOC = "H13";

# running light

NET "LED<0>" 	LOC = "J14";

NET "LED<1>" 	LOC = "J15";

NET "LED<2>" 	LOC = "K15";

NET "LED<3>" 	LOC = "K14";
NET "LED<4>" 	LOC = "E17";

NET "LED<5>" 	LOC = "P15";

NET "LED<6>" 	LOC = "F4";

NET "LED<7>" 	LOC = "R4";